#current-path {width: 80%;}

#global-index svg {}
#global-index svg rect {fill: none; stroke: black; stroke-width: 0.5px;}

#footer { width: 100%; border-top: 1px blue solid}

.ext {color: darkred;}

.ext.txt:before, .ext.log:before
{ content: "\f0f6"}

.ext.png:before, .ext.gif:before, .ext.jpg:before, .ext.svg:before
{ content: "\f1c5"}

.ext.bz2:before, .ext.gz:before, .ext.zip:before, .ext.jar:before
{ content: "\f1c6"}

.ext.xml:before, .ext.md:before, .ext.ini:before
{ content: "\f1c9"}

.ext.html:before
{ content: "\f0ac"}

.ext.exe:before
{ content: "\f085"}

.ext.csv:before
{ content: "\f0ce"}

.ext.sh:before, .ext.cmd:before, .ext.bat:before
{ content: "\f120"}

.ext.pdf:before
{ content: "\f1c1"}

.ext.doc:before, .ext.docx:before
{ content: "\f1c2"}

.ext.xls:before, .ext.xlsx:before
{ content: "\f1c3"}

.ext:before
{ content: "\f016"}