/Maven__ant_ant_1_6_5.xml
/Maven__antlr_antlr_2_7_7.xml
/Maven__aopalliance_aopalliance_1_0.xml
/Maven__asm_asm_3_1.xml
/Maven__com_esri_geometry_esri_geometry_api_1_2_1.xml
/Maven__com_github_davidmoten_guava_mini_0_1.xml
/Maven__com_github_davidmoten_rtree_0_8_RC10.xml
/Maven__com_github_davidmoten_rxjava_extras_0_7.xml
/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
/Maven__com_google_code_gson_gson_2_2_4.xml
/Maven__com_google_guava_guava_11_0_2.xml
/Maven__com_google_inject_extensions_guice_servlet_3_0.xml
/Maven__com_google_inject_guice_3_0.xml
/Maven__com_google_protobuf_protobuf_java_2_5_0.xml
/Maven__com_jamesmurty_utils_java_xmlbuilder_0_4.xml
/Maven__com_jcraft_jsch_0_1_42.xml
/Maven__com_sun_jersey_contribs_jersey_guice_1_9.xml
/Maven__com_sun_jersey_jersey_client_1_9.xml
/Maven__com_sun_jersey_jersey_core_1_9.xml
/Maven__com_sun_jersey_jersey_json_1_9.xml
/Maven__com_sun_jersey_jersey_server_1_9.xml
/Maven__com_sun_mail_javax_mail_1_5_5.xml
/Maven__com_sun_xml_bind_jaxb_impl_2_2_3_1.xml
/Maven__com_thoughtworks_paranamer_paranamer_2_3.xml
/Maven__com_vividsolutions_jts_1_13.xml
/Maven__commons_beanutils_commons_beanutils_1_7_0.xml
/Maven__commons_beanutils_commons_beanutils_core_1_8_0.xml
/Maven__commons_cli_commons_cli_1_2.xml
/Maven__commons_codec_commons_codec_1_4.xml
/Maven__commons_collections_commons_collections_3_2_1.xml
/Maven__commons_configuration_commons_configuration_1_6.xml
/Maven__commons_daemon_commons_daemon_1_0_13.xml
/Maven__commons_digester_commons_digester_1_8.xml
/Maven__commons_el_commons_el_1_0.xml
/Maven__commons_httpclient_commons_httpclient_3_1.xml
/Maven__commons_io_commons_io_2_4.xml
/Maven__commons_lang_commons_lang_2_6.xml
/Maven__commons_logging_commons_logging_1_1_3.xml
/Maven__commons_net_commons_net_3_1.xml
/Maven__dk_brics_automaton_automaton_1_11_8.xml
/Maven__hsqldb_hsqldb_1_8_0_10.xml
/Maven__io_netty_netty_3_6_2_Final.xml
/Maven__io_reactivex_rxjava_1_1_4.xml
/Maven__javax_activation_activation_1_1.xml
/Maven__javax_inject_javax_inject_1.xml
/Maven__javax_mail_javax_mail_api_1_5_5.xml
/Maven__javax_servlet_jsp_jsp_api_2_1.xml
/Maven__javax_servlet_servlet_api_2_5.xml
/Maven__javax_xml_bind_jaxb_api_2_2_2.xml
/Maven__javax_xml_stream_stax_api_1_0_2.xml
/Maven__jline_jline_1_0.xml
/Maven__joda_time_joda_time_2_1.xml
/Maven__junit_junit_3_8_1.xml
/Maven__log4j_log4j_1_2_17.xml
/Maven__net_java_dev_jets3t_jets3t_0_9_0.xml
/Maven__net_sf_kosmosfs_kfs_0_3.xml
/Maven__org_antlr_ST4_4_0_4.xml
/Maven__org_antlr_antlr_runtime_3_4.xml
/Maven__org_antlr_stringtemplate_3_2_1.xml
/Maven__org_apache_avro_avro_1_7_4.xml
/Maven__org_apache_commons_commons_compress_1_4_1.xml
/Maven__org_apache_commons_commons_math3_3_1_1.xml
/Maven__org_apache_curator_curator_client_2_6_0.xml
/Maven__org_apache_curator_curator_framework_2_6_0.xml
/Maven__org_apache_curator_curator_recipes_2_6_0.xml
/Maven__org_apache_directory_api_api_asn1_api_1_0_0_M20.xml
/Maven__org_apache_directory_api_api_util_1_0_0_M20.xml
/Maven__org_apache_directory_server_apacheds_i18n_2_0_0_M15.xml
/Maven__org_apache_directory_server_apacheds_kerberos_codec_2_0_0_M15.xml
/Maven__org_apache_hadoop_hadoop_annotations_2_6_0.xml
/Maven__org_apache_hadoop_hadoop_auth_2_6_0.xml
/Maven__org_apache_hadoop_hadoop_common_2_6_0.xml
/Maven__org_apache_hadoop_hadoop_hdfs_2_6_0.xml
/Maven__org_apache_hadoop_hadoop_mapreduce_client_common_2_6_0.xml
/Maven__org_apache_hadoop_hadoop_mapreduce_client_core_2_6_0.xml
/Maven__org_apache_hadoop_hadoop_yarn_api_2_6_0.xml
/Maven__org_apache_hadoop_hadoop_yarn_client_2_6_0.xml
/Maven__org_apache_hadoop_hadoop_yarn_common_2_6_0.xml
/Maven__org_apache_hadoop_hadoop_yarn_server_common_2_6_0.xml
/Maven__org_apache_httpcomponents_httpclient_4_1_2.xml
/Maven__org_apache_httpcomponents_httpcore_4_1_2.xml
/Maven__org_apache_pig_pig_0_15_0.xml
/Maven__org_apache_zookeeper_zookeeper_3_4_6.xml
/Maven__org_codehaus_jackson_jackson_core_asl_1_9_13.xml
/Maven__org_codehaus_jackson_jackson_jaxrs_1_8_3.xml
/Maven__org_codehaus_jackson_jackson_mapper_asl_1_9_13.xml
/Maven__org_codehaus_jackson_jackson_xc_1_8_3.xml
/Maven__org_codehaus_jettison_jettison_1_1.xml
/Maven__org_eclipse_jdt_core_3_1_1.xml
/Maven__org_fusesource_leveldbjni_leveldbjni_all_1_8.xml
/Maven__org_htrace_htrace_core_3_0_4.xml
/Maven__org_jgrapht_jgrapht_core_1_0_1.xml
/Maven__org_json_json_20090211.xml
/Maven__org_mortbay_jetty_jetty_6_1_26.xml
/Maven__org_mortbay_jetty_jetty_util_6_1_26.xml
/Maven__org_mortbay_jetty_jsp_2_1_6_1_14.xml
/Maven__org_mortbay_jetty_jsp_api_2_1_6_1_14.xml
/Maven__org_mortbay_jetty_servlet_api_2_5_6_1_14.xml
/Maven__org_slf4j_slf4j_api_1_7_5.xml
/Maven__org_slf4j_slf4j_log4j12_1_7_5.xml
/Maven__org_tukaani_xz_1_0.xml
/Maven__org_xerial_snappy_snappy_java_1_0_4_1.xml
/Maven__oro_oro_2_0_8.xml
/Maven__tomcat_jasper_compiler_5_5_23.xml
/Maven__tomcat_jasper_runtime_5_5_23.xml
/Maven__xerces_xercesImpl_2_9_1.xml
/Maven__xml_apis_xml_apis_1_3_04.xml
/Maven__xmlenc_xmlenc_0_52.xml
