body {
	font-family: "Verdana", serif;
	width: 1024px;
	height: 703.5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 21px;
	background: white;
	text-align: justify;
    text-justify: inter-word;
    font-size: 22px;
    padding: 20px;
}

div.left {
	float: left;
	width: 254px;
	height: 614.25px;
	background-color: white;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
   	position: relative;
}

div.right {
	float: left;
	width: 767px;
	height: 614.25px;
	background-color: white;
    border: 1px solid;
   	position: relative;
   	overflow: scroll;
}

div.options {
	float: top;
	width: 767px;
	height: 250px;
	background-color: white;
    border-bottom: 1px solid;
   	position: relative;
}

div.options_title {
	float: top;
	width: 767px;
	height: 70px;
	position: relative;
}

div.options_content {
	float: top;
	width: 767px;
	height: 170px;
	position: relative;
}

div.options_content_row {
	float: top;
	width: 767px;
	height: 35px;
	position: relative;
}

div.options_content_column {
	float: left;
	width: 252px;
	height: 35px;
	position: relative;
}

div.options_content_column_partitioning_1 {
	float: left;
	width: 252px;
	height: 35px;
	position: relative;
}

div.options_content_column_partitioning_2 {
	float: left;
	width: 252px;
	height: 35px;
	position: relative;
}

div.result {
	float: top;
	width: 767px;
	height: 363.25px;
	background-color: white;
	border-bottom: 1px solid;
   	position: relative;
   	overflow: scroll;
}

div.result_options {
	float: top;
	width: 767px;
	height: 35px;
	position: relative;
}

div.result_images {
	float: top;
	width: 767px;
	height: 329.25px;
	position: relative;
}

div.image_column {
	float: left;
	width: 360.5px;
	height: 329.25px;
	position: relative;
}

div.inter_image {
	float: left;
	width: 5px;
	height: 329.25px;
	position: relative;
}

div.image_box {
	float: top;
	width: 360.5px;
	height: 153px;
	position: relative;
}

div.inter_image_in_column {
	float: top;
	width: 360.5px;
	height: 5px;
	position: relative;
}

h1.title {
	font-size: 120%;
	color: #6699FF;
}

span.grid_title {
	font-size: 20;
	color: #FF6633;
	font-weight: bold;
}

h3.dataset_title {
	color: black;
	margin: 0px;
	padding: 0px;
}

input.input {
	width: 100px;
}

img.image_partial {
	float: left;
	width: 339.61px;
	height: 150.5px;
	position: relative;
	border: 1px solid;
}

img.whole {
	float: left;
	width: 550px;
	height: 257.4px;
	position: relative;
}
